@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="admin-panel">
            <a href="@Url.Action("Manage", "Reservation")"><i class="ion-android-checkbox-outline"></i></a>
            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="ion-android-exit"></i></a>
        </div>
    }
}