@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@section Stylesheets {
    <link href="@Url.Content("~/stylesheets/error.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <div class="centered-div">
        <img src="~/Resources/img/logo-big.png" alt="Pasta House Logo" />
        <h2>Wystąpił błąd podczas przetwarzania twojego żądania :(</h2>
    </div>
</div>
