@{
    ViewBag.Title = "Start";
    ViewBag.HideFooter = true;
}

@section Stylesheets {
    <link href="@Url.Content("~/Stylesheets/index.css")" rel="stylesheet" type="text/css" />
}

<div class="background-top">
    <div class="background-bottom">
    </div>
</div>

<div class="logo-img">
    <img src="~/Resources/img/logo-big.svg" alt="Pasta House logo" class="animated zoomIn">
</div>