.manage-container {
    padding: 50px;
    margin-bottom: 20px;
}

.manage-button {
    margin-top: 10px;
}

.deactivate-button {
    margin-right: 10px;
}

.text-empty {
    text-align: center;
    padding-top: 20px;
}

.deactivated {
    opacity: 0.5;
}

/******* < 576px  *******/

@media screen and (max-width: 576px) {
    .manage-container {
        padding: 15px;
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .cart-value {
        margin-top: 5px;
    }
}
