<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8bb3b8b3-78ee-4450-910e-b4430eef47f8/resourcegroups/PastaHouse20190124062523ResourceGroup/providers/Microsoft.Web/sites/PastaHouse</ResourceId>
    <ResourceGroup>PastaHouse20190124062523ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pastahouse.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pastahouse.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PastaHouse</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PastaHouse</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=pastahousedbserver.database.windows.net;Initial Catalog=PastaHouse_db;User ID=maciejkrolik;Password=JNdbEDAmyHW93nGFJvt" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PastaHouse.Models.ApplicationDbContext, PastaHouse" MigrationConfiguration="PastaHouse.Migrations.Configuration, PastaHouse" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=pastahousedbserver.database.windows.net;Initial Catalog=PastaHouse_db;User ID=maciejkrolik;Password=JNdbEDAmyHW93nGFJvt</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>